[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "*"
python-barcode = "*"
pillow = "*"
mysqlclient = "*"
factory-boy = "*"
faker = "*"
django-restframework = "*"
django = "==4.2.3"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
